body {
    background-color: #dddddd;
    text-align: center;
}
#board {
    background-image: url("images/black-marble.jpg");
    display: inline-block;
    padding: 1vmin;
}
.row {
    display: flex;
    justify-content: space-evenly;
   
}
.cell {
    width: 8vw;
    height: 8vw;
    max-height: 11vh;
    max-width: 11vh;
    display: inline-block;
    margin: 0px;
    
}

.black {
    background-color: rgb(0, 0, 0);
    
     background: rgb(59, 58, 58);
  /* border-radius: 50%; */
   
    /* background-image: url(""); */
}

.white {
    
    /* background-color: #DC143c; */
    background-color: rgb(241, 229, 229);
}

.checker {
    margin: 10%;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: blinker 10000000s linear infinite;
    
}

 .white-checker { 
    background-image: url("images/go-stone-white.png"); 
 background-size: cover; 
     color: #444444; 
} 
img{
    display:block;
     width:100%;
      height:auto;
}

.black-checker {
     background-image: url("images/go-stone-black.png");
     
    background-size: cover; 
    color: #cccccc;
    
}

i{
    font-size: 3vmin;
    /* background-image: url("images/crown.png"); */
}

.selected {
    margin: 0;
    border: 1vmin solid rgba(255,255,255,0.5);
    background-repeat: no-repeat;
    animation: blinker 200s linear infinite;
    /* opacity: 0; */
}

.out-of-play {
    /*width: 10vmin;*/
    /*height: 10vmin;*/
}

.ready-to-kill {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #reset{
  display: block;
  border: 0;
  color: #F1F1FF;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto 10px;
  padding: 10px;
  background-color: #16A8C7;
  box-shadow: 1px 1px 3px #232621;
  transition: background-color 0.15s 
  }


